{{define "header"}}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="keywords" content="魔法数学加盟">
        <meta name="description" content="魔法数学加盟">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <link href="favicon.ico" rel="shortcut icon">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="/static/wap/css/wap_common.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        <link rel="stylesheet" href="/static/wap/css/loop.css">
        <link rel="stylesheet" type="text/css" href="/static/wap/css/default.css">
        <link rel="stylesheet" href="/static/wap/css/jquery.hiSlider.min.css">
        <link rel="stylesheet" href="/static/wap/css/swiper.min.css">
{{end}}