{{define "nav"}}
    <nav>
        <section class="nav_head">
            <p class="head_logo">
                <img src="/static/wap/img/logo.png" />
                <span class="slogan">OMO数理思维教育开创者</span>
            </p>
            <section class="home_icon">
                <img src="/static/wap/img/home_icon_breadnav_nor@2x.png" class="navicon"/>
            </section>
            <ul class="home_nav">
                <a href="/">首页</a>
                <a href="/sub" class="sub">课程体系</a>
                <a href="/le" class="le">AI学练系统</a>
                <a href="/om" class="om">OMO模式</a>
                <a href="/authorize" class="authorize">招商加盟</a>
            </ul>
        </section>
    </nav>
{{end}}