{{ define "wap/learn.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AI学练系统</title>
        {{template "header"}}
        <link href="/static/wap/css/learn.css?v={{.time}}" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <section class="index_banner pub_style">
        <img src="/static/wap/img/3.png" />
    </section>
    <section class="learn_con pub_style">
        <section class="learn_con_top" data-id="0">
            <p class="test_tit">在线测评系统</p>
        </section>
        <section class="learn_con_bottom">
            魔数思维以大数据为依托，自主研发了专业、严谨的AI智能测评系统，根据学员所学阶段与内容，每月对其进行定级测评、专题测评、阶段测评，精准掌握孩子学习效果。
        </section>
    </section>

    <section class="learn_con pub_style">
        <section class="learn_con_top hl" data-id="1">
            <p class="test_tit lb">录播课系统</p>
        </section>
        <section class="learn_con_bottom">
            储备海量优质课程，方便孩子随时巩固复习，反复回看，学习更扎实！
        </section>
    </section>

    <section class="learn_con pub_style">
        <section class="learn_con_top sr" data-id="2">
            <p class="test_tit fx">预复习辅学系统</p>
        </section>
        <section class="learn_con_bottom">
            根据私人课程排期同步课堂内容，智能匹配课程要点及习题，帮助孩子在线预习、复习，学习效果翻倍。
        </section>
    </section>

    <section class="learn_con pub_style">
        <section class="learn_con_top sx" data-id="3">
            <p class="test_tit swxl">在线思维训练游戏</p>
        </section>
        <section class="learn_con_bottom">
            根据数学学科六大维度，将知识点重叠螺旋融入益智游戏，打造启蒙级、进阶级、思维级、卓越级思维游戏，智能贴合孩子学习曲线，让孩子在玩的过程中快乐学习。
        </section>
    </section>

    <section class="learn_con pub_style last_item">
        <section class="learn_con_top sw" data-id="4">
            <p class="test_tit aixl">AI学练题库</p>
        </section>
        <section class="learn_con_bottom">
            包含海量数理思维题型，个性化推荐智练习题，同时支持家长与孩子共同DIY题目，自动生成习题，提高学习的参与性、互动性。
        </section>
    </section>
    {{template "footer"}}
    <script>
        $('.learn_con_top').each(function () {
            $(this).on('click',function () {
                let _index = $(this).data('id');
                let _w = $('.learn_con_top').eq(_index).width();
                if (_w < 288) {
                    if (_index==2) {
                        _w+=242;
                    } else if (_index==3) {
                        _w+=268;
                    } else {
                        _w+=218;
                    }
                    $('.learn_con_top').eq(_index).animate({"width":_w+"px"})
                    $('.learn_con_top .test_tit').eq(_index).show()
                } else {
                    $('.learn_con_top').animate({"width":"200px"})
                    $('.learn_con_top .test_tit').hide()
                }
            })
        })
    </script>
    </body>
    </html>
{{ end }}