{{define "wap/omo.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMO</title>
    {{template "header"}}
    <link href="/static/wap/css/omo.css?v={{.time}}" rel="stylesheet"/>
</head>
<body>
{{template "nav"}}
<section class="index_banner pub_style">
    <img src="/static/wap/img/2.png" />
</section>
<section class="tit pub_style">
    <section class="public_tit">
        <p class="direction left">
            <span class="line magic_line"></span>
            <span class="circle magic_circle"></span>
        </p>
        <h3 class="left">全新OMO教育模式</h3>
        <p class="direction left dr">
            <span class="line magic_line"></span>
            <span class="circle magic_circle"></span>
        </p>
    </section>
</section>
<section class="pub_style newOMO">
    <section class="omo_item oo">
        <p></p>
        <p class="omo_tit">全国品牌连锁</p>
        <p class="omo_desc">直营+加盟互动式发展</p>
    </section>
    <section class="omo_item ot">
        <p></p>
        <p class="omo_tit">自研发OMO技术平台</p>
        <p class="omo_desc">AI直播一体机、互动游戏APP、抚学小程序</p>
    </section>
</section>

<section class="pub_style newOMO">
    <section class="omo_item ott">
        <p></p>
        <p class="omo_tit">自主研发教材学具</p>
        <p class="omo_desc">出版、销售一体，渠道唯一性</p>
    </section>
    <section class="omo_item of">
        <p></p>
        <p class="omo_tit">AI自适应题库练习</p>
        <p class="omo_desc">大量数理思维、中小学教学题库</p>
    </section>
</section>

<section class="pub_style newOMO">
    <section class="omo_item off">
        <p></p>
        <p class="omo_tit">APP、短视频、新媒体招生</p>
        <p class="omo_desc">全面采用OMO社群分享、抖音快手、新媒体营销</p>
    </section>
    <section class="omo_item os">
        <p></p>
        <p class="omo_tit">OMO线上线下混合教学</p>
        <p class="omo_desc">每周一节线下课、一节线上课</p>
    </section>
</section>

<section class="pub_style online">
    <section class="online_img">
        <img src="/static/wap/img/pic_omo offline@2x.png">
    </section>
    <section class="online_desc">
        <p>线下——多维智能教室</p>
        <p>运用智能投屏，智能交互课件，AI机器人助教，结合多元情景式教学及配套教具，让孩子沉浸式体验学习。</p>
    </section>
</section>

<section class="pub_style online">
    <section class="online_img">
        <img src="/static/wap/img/online2@2x.png">
    </section>
    <section class="online_desc">
        <p>线上——AI学练系统</p>
        <p>AI学练系统与直播一体机、魔数小奇兵APP等多维护航，让孩子随时随地高效学习。</p>
    </section>
</section>

<section class="pub_style online last_online">
    <section class="online_img">
        <img src="/static/wap/img/offline@2x.png">
    </section>
    <section class="online_desc">
        <p>线上线下同步招生教学+分享营销数据引流</p>
        <p>在线优质教学、学习习惯跟进、本地化教研、增强用户粘性、低成本获客</p>
    </section>
</section>
{{template "footer"}}
</body>
</html>
{{end}}