{{define "wap/subject.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>课程体系</title>
        {{template "header"}}
        <link href="/static/wap/css/subject.css?v={{.time}}" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <section class="index_banner pub_style">
        <img src="/static/wap/img/subject.png" />
    </section>
    <section class="tit pub_style">
        <section class="public_tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">专家团队</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
    </section>
    <section class="item_desc">
        对思维的广度、深度和创造性方面进行综合训练，促进孩子多元智能发展。
    </section>
    <section class="brand_ul">
        <section class="pc-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img  src="/static/wap/img/lwy.png" /></div>
                    <div class="swiper-slide"><img  src="/static/wap/img/myp.png" /></div>
                    <div class="swiper-slide"><img  src="/static/wap/img/yj.png" /></div>
                    <div class="swiper-slide"><img  src="/static/wap/img/zxl.png" /></div>
                    <div class="swiper-slide"><img  src="/static/wap/img/zml.png" /></div>
                </div>
            </div>
        </section>
    </section>
    <section class="tit pub_style">
        <section class="public_tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">六个维度，激发孩子全脑思维</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
    </section>
    <!--六个维度，激发孩子全脑思维*-->
    <section class="excite pub_style">
        <dl class="brain">
            <dt></dt>
            <dd>
                <h4>对应关系</h4>
                <section class="excite_con_top">
                    <span>形色对应</span><span>数量对应</span><span>位置对应</span>
                </section>
                <section class="excite_con_bottom">
                    <span>路径对应</span><span>代数概念</span><span>集合概念</span>
                </section>
            </dd>
        </dl>
        <dl class="turn">
            <dt></dt>
            <dd><h4>空间位置</h4>
                <section class="excite_con_top">
                    <span>前后对应</span><span>左右关系</span><span>上下关系</span>
                </section>
                <section class="excite_con_bottom">
                    <span>远近关系</span><span>坐标位置</span><span>里外计数</span>
                </section>
            </dd>
        </dl>
        <dl class="broca">
            <dt></dt>
            <dd><h4>形色分类</h4>
                <section class="excite_con_top">
                    <span>形色辨识</span><span>形色组合</span><span>形色分类</span>
                </section>
                <section class="excite_con_bottom">
                    <span>归纳运算</span><span>异同观察</span><span>多维分类</span>
                </section>
            </dd>
        </dl>
        <dl class="calculation">
            <dt></dt>
            <dd><h4>数量运算</h4>
                <section class="excite_con_top">
                    <span>唱数训练</span><span>运算训练</span><span>加法合成</span>
                </section>
                <section class="excite_con_bottom">
                    <span>减法运算</span><span>倍数概念</span><span>分配概念</span>
                </section>
            </dd>
        </dl>
        <dl class="analysis">
            <dt></dt>
            <dd><h4>逻辑分析</h4>
                <section class="excite_con_top">
                    <span>大小关系</span><span>圆形关联</span><span>正向思考</span>
                </section>
                <section class="excite_con_bottom">
                    <span>逆向思考</span><span>规律辨识</span><span>容量关系</span>
                </section>
            </dd>
        </dl>
        <dl class="between">
            <dt></dt>
            <dd><h4>序与比较</h4>
                <section class="excite_con_top">
                    <span>时间关系</span><span>书序关系</span><span>数量多少</span>
                </section>
                <section class="excite_con_bottom">
                    <span>长短比较</span><span>大小比较</span><span>容量大小</span>
                </section>
            </dd>
        </dl>
    </section>
    <!--课程体系-->
    <section class="tit pub_style">
        <section class="public_tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">课程体系</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
    </section>
    <section class="pub_style setup">
        <section class="setup_left">
            <ul>
                <li>序与比较</li>
                <li>形色分类</li>
                <li>空间方位</li>
                <li>数量关系</li>
                <li>对应关系</li>
                <li>逻辑分析</li>
            </ul>
        </section>
        <section class="setup_right">
            <section class="setup_right_top">
                <li>启蒙阶段 （3-4岁）</li>
                <li class="level">进阶阶段 （5-6岁）</li>
                <li>思维阶段 （6-7岁）</li>
            </section>
            <section class="setup_right_bottom">
            </section>
        </section>
    </section>
    <section class="pub_style setup_bottom">
        <section class="setup_bottom_left qm">
            <ul>
                <li class="qm_active">启蒙阶段</li>
                <li>启蒙阶段</li>
                <li>思维阶段</li>
            </ul>
        </section>
        <section class="setup_bottom_right qm_desc">
            数概念初步建立<br/>
            基本图形认知，图形特征应用<br/>
            视觉训练，运笔训练，基础对应<br/>
            方位认知，坐标认知，多视角成像<br/>
            简单关系比较，序数认知<br/>
            简单规律辨识，事物内在联系，分析判断
        </section>
    </section>
    <section class="pub_style setup_last">
        <section class="setup_left">
            <ul>
                <li>数量关系</li>
                <li>图形空间</li>
                <li>生活应用</li>
                <li>概率与统计</li>
                <li>逻辑分析</li>
            </ul>
        </section>
        <section class="setup_right">
            <section class="setup_right_top">
                <li class="active_setup">卓越阶段 （7-8岁）</li>
                <li>飞越阶段 （9-10岁）</li>
            </section>
            <section class="setup_right_bottom">
            </section>
        </section>
    </section>
    <section class="pub_style setup_bottom">
        <section class="setup_bottom_left zy">
            <ul>
                <li class="active_setup">卓越阶段</li>
                <li>飞越阶段</li>
            </ul>
        </section>
        <section class="setup_bottom_right setup_last_r">
            移多补少，趣味乘法除法，整数拆分，等量代换<br/>
            间隔问题，长度单位换算，趣味应用题，解应用题初步，智巧趣题，排队的学问，解应用题<br/>
            生活中的可能性，重叠问题，简单的经济问题，生活中的统筹规划，相遇问题等
        </section>
    </section>
    <!--魔数思维五步法-->
    <section class="five_steps pub_style">
        <section class="tit pub_style">
            <section class="public_tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">魔数思维五步法</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
        </section>
        <section class="five_tit">
            培养孩子“从多个角度看问题的能力”，建立“强大”的逻辑思维能力。
        </section>
        <section class="five_desc">
            <img src="/static/wap/img/pic_msswwbf@2x.png">
        </section>
    </section>
    <!--2020魔法数学教材4.0-->
    <section class="tit pub_style">
        <section class="public_tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">2020魔法数学教材4.0</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
    </section>
    <section class="five_tit">
        研发团队十年间不断自我革新，只为让孩子学到更好的数学思维课程。
    </section>
    <section class="v_level">
        <li><span>V1.0</span></li>
        <li class="mid"><span>V2.0</span></li>
        <li><span>V3.0</span></li>
    </section>
    <section class="v_level v_level_img">
        <li><img src="/static/wap/img/1.0.png"></li>
        <li><img src="/static/wap/img/2.0.png"></li>
        <li><img src="/static/wap/img/3.0.png"></li>
    </section>
    <section class="slider_contents pub_style jxjc">
        <div id="wrap">
            <ul class="hiSlider hiSlider3">
                <li class="hiSlider-item"><img src="/static/wap/img/pic_material.png" alt="<span class='v3'>V4.0</span>魔法数学教材4.0"></li>
            </ul>
        </div>
    </section>
    <section class="tit pub_style">
        <section class="public_tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">教具展示</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
    </section>
    <section class="slider_contents pub_style">
        <div id="wrap">
            <ul class="hiSlider hiSlider3">
                <li class="hiSlider-item"><img src="/static/wap/img/pic_reason.png" alt="1:1比例配备教具"></li>
            </ul>
        </div>
    </section>
    <!--魔数小奇兵APP-->
    <section class="tit pub_style">
        <section class="public_tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">魔数小奇兵APP</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
    </section>
    <section class="five_tit down_tit">
        学习与游戏并存的神奇魔法APP
    </section>
    <section class="magic_bg_last">
        <section class="magic_bg">
            <section class="down_app_img">
                <img data-original="/static/assets/img/pic_phone.png" src="/static/assets/img/pic_phone.png" class="lazy" style="">
            </section>
            <section class="down_con">
                <section class="magic_bg_log">
                    <img src="/static/wap/img/2x.png">
                </section>
                <section class="down_url">
                    <a href="https://apps.apple.com/cn/app/%E9%AD%94%E6%95%B0%E5%B0%8F%E5%A5%87%E5%85%B5/id1483167128">iphone下载</a>
                    <a href="https://hotupdate-moshu.oss-cn-beijing.aliyuncs.com/android-online/moshu.apk">android下载</a>
                </section>
            </section>
        </section>
    </section>
    {{template "footer"}}
    <script type="text/javascript" src="/static/wap/js/subject.js"></script>
    </body>
    </html>
{{end}}