.index_banner{
	width: 100%;
}
.index_banner img{
	width: 100%;
	height: 100%;
}

.magic_manth{
	width: 91%;
	margin: 15px auto 0 auto !important;
}
.magic_manth dl{
	margin-bottom: 10px !important;
	width:100%;
	height:164px;
	background:#F9FAFC;
	border-radius:10px;
	display: inline-block;
	box-sizing: border-box;
}
.magic_manth dl:last-child{
	margin-bottom: 0 !important;
}
.magic_manth dl dt{
	float: left;
	width: 118px;
	height: 118px;
	margin: 23px 10px 23px 10px !important;
	background:url(../img/brain.png);
}
.turn dt{
	background-position: 236px 118px!important;
}
.broca dt{
	background-position: 118px 118px!important;
}
.magic_manth dl dd{
	float: left;
	width: 70%;
	margin: 38px 10px 0 0 !important;
}
.magic_manth dl dd h4{
	width:100%;
	text-align: left;
	height:22px;
	font-size:1.8rem;
	font-weight:500;
	color:#333;
	line-height:22px;
}
.magic_manth dl dd p{
	margin-top: 1rem !important;
	width: 100%;
	font-size: 1.5rem;
	font-family: PingFangSC-Regular,PingFang SC;
	font-weight: 400;
	color: rgba(102,102,102,1);
	line-height: 28px;
}
/* 张梅玲教授倾力推荐 */
.recommend{
	width:100%;
	height:480px;
	background:#FBF8F5;
	margin-top: 30px !important;
	overflow: hidden;
	position: relative;
}
.recommend .public_tit{
	flex: auto;
}
.recommend h3{
	height:36px;
	font-size:2.2rem;
	font-family:PingFangSC-Semibold,PingFang SC;
	font-weight:600;
	color:#333;
	line-height:36px;
}
.recommend .magic_line {
    background: linear-gradient(270deg,rgba(141,110,74,1) 0%,rgba(255,255,255,1) 100%) !important;
}
.recommend .dr .magic_line {
    float: left;
    background: linear-gradient(170deg,rgba(141,110,74,1) 0%,rgba(255,255,255,1) 100%) !important;
}
.recommend .magic_line {
    background: linear-gradient(270deg,rgba(141,110,74,1) 0%,rgba(255,255,255,1) 100%) !important;
}
.recommend .circle {
    background: rgba(141,110,74,1) !important;
	margin-top: -11%;
}
.recommend h3{
	color: #333 !important;
}
.outborder{
	float: left;
	width: 59%;
	height:74%;
	border-radius:20px;
	border:2px solid #C2B4A1;
	position: relative;
	left: 6%;
}
.outborder dl{
	width: 100%;
	height:100%;
	border:2px solid #E0D5CA;
	border-radius:20px;
	opacity:0.9;
	position: absolute;
	z-index: 2;
	top: -10px;
	left: -12px;
	font-size:24px;
	color:#987B5B;
	line-height:36px;
}
.outborder dl dt{
	padding: 22px 11px 0 25px !important;
	font-size:1.6rem;
	font-family:MicrosoftYaHei;
	color:rgba(152,123,91,1);
	line-height:40px;
}
.outborder dl dd{
	float: right;
	padding: 5px 26px 0 0 !important;
}
.celebrity {
	bottom: 0;
	right: 0;
	width: 34.5%;
	position: absolute;
	box-sizing: border-box;
}
.celebrity img{
	width:254px;
}
/* 选择魔法数学的六个理由 */
.six_reason{
	width: 100%;
}
.slider_contents{
	width: 91%;
	margin: 0 auto;
}
.ppbj{
	background: #F9FAFC;
	padding-bottom: 75px !important;
}
.ppbj .six_reason {
    margin: 20px auto;
}

.tradition_ul{
	width:50%;
	background:#F3FAFE;
}
.difference li{
	width: 89%;
	display: inherit;
	height: 50px;
	background: rgba(255,255,255,1);
	border-radius: 6px;
	font-size: 1.2rem;
	font-family: PingFangSC-Regular,PingFang SC;
	font-weight: 400;
	color: #35538C;
	line-height: 50px;
	text-align: center;
	margin: 0 auto 12px !important;
}
.difference li:last-child{
	margin-bottom: 30px !important;
}
.difference li.difference_con_tit{
	width: 100%;
	text-align: center;
	height: 48px;
	font-size: 1.8rem;
	font-family: PingFangSC-Medium,PingFang SC;
	font-weight: 500;
	color: rgba(51,51,51,1) !important;
	line-height: 40px;
	background: none;
	margin: 15px 0 !important;
}
.magic_ul li{
	color: #E99526 !important;
}
.magic_ul{
	float: right;
	width: 50%;
	background: #FEFBF5;
}
/* 魔数简介 */
.about_magic{
	width: 90%;
	height: auto;
	font-size: 1.4rem;
	font-family: PingFangSC-Regular,PingFang SC;
	font-weight: 400;
	color: rgba(102,102,102,1);
	line-height: 60px;
	margin: 0 auto 30px auto;
}
/* 品牌荣誉 */
.brand_ul{
    width: 100%;
    margin: 0 auto;
    height: 317px;
    overflow: hidden;
	background: #F9FAFC;
}

.pc-banner {

	width: 100%;
	float: left;
}

@media screen and (max-width: 668px) {
	.pc-banner {
		background-size: auto 100%;
	}
}

.swiper-container {
	width: 100%;
	margin: 35px 0;
}

@media screen and (max-width: 668px) {
	.swiper-container {
		margin: 20px 0 15px;
	}
}

.swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

@media screen and (max-width: 668px) {
	.swiper-slide {
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
}

.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 668px) {
	.swiper-slide-active,.swiper-slide-duplicate-active {
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
}

.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}


.swiper-slide img {
	width: 100%;
	border-radius: 14px;
	display: block;
}

@media screen and (max-width: 668px) {
	.swiper-slide img {
		border-radius: 7px;
	}
}

.swiper-pagination {
	position: relative;
	margin-bottom: 30px;
}

.swiper-pagination-bullet {
	background: #00a0e9;
	margin-left: 4px;
	margin-right: 4px;
	width: 17px;
	height: 17px;
	opacity: 1;
	margin-bottom: 4px;
}

.swiper-pagination-bullet-active {
	width: 13px;
	height: 13px;
	background: #FFF;
	border: 6px solid #00a0e9;
	margin-bottom: 0;
}

@media screen and (max-width: 668px) {

	.swiper-pagination {
		position: relative;
		margin-bottom: 20px;
	}

	.swiper-pagination-bullet {
		background: #00a0e9;
		margin-left: 2px;
		margin-right: 2px;
		width: 8px;
		height: 8px;
		margin-bottom: 2px;
	}

	.swiper-pagination-bullet-active {
		width: 6px;
		height: 6px;
		background: #FFF;
		border: 3px solid #00a0e9;
		margin-bottom: 0;
	}
}

.button {
	width: 1000px;
	margin: 0 auto;
	bottom: 43px;
	position: relative;
}

@media screen and (max-width: 668px) {
	.button {
		width: 70%;
		bottom: 22px;
	}
}

.button div:hover {
	background-color: #2f4798;
}

@media screen and (max-width: 668px) {
	.button div {
		width: 28px;
		height: 28px;
	}
}