li{
    list-style: none;
}
li img{
    display: block;
    margin: 0 auto;
}
#wrap{
    width: 100%;
    background: #fefefe;
}
.hiSlider{
    overflow: hidden;
    height: 280px;
    background: #eee;
    margin-bottom: 70px;
}
.hiSlider-item{
    float: left;
}