html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body, html {
    height: 100%;
	min-height: 100%;
}
*,
*:before,
*:after {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box; }
header, 
section, 
ul, 
ol { list-style: none outside none; }
.esc { position: relative;	width: 100%; height: 1px; clear: both; }
.clearfix:after {  content: "";  display: table;  clear: both; }

nav{
	width: 100%;
	padding: 22px 0 !important;
}
.slogan {
	margin-left: 12px;
}

.home_icon{
	float: right;
}
.nav_head {
	width: 91%;
	height: 45px;
	margin: 0 auto;
}
.head_logo img{
	width: 106px;
	float: left;
}
.head_logo .slogan{
	float: left;
	color: #16397A;
	font-size: 1.1rem;
	line-height: 45px;
}
.pub_style{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.direction{
	width: 19%;
	flex: 1;
	display: inline-table;
	align-items: flex-start;
}
/* 方向键 */
.tit{
	margin: 25px auto!important;
	height: 47px;
	overflow: hidden;
	width: 100%;
}
.line {
	width:100%;
	height:6px;
	border-radius:3px;
	display: inline-block;
	margin-top: -10%;
}
.tit span{
	background: #03A3F7;
}
.tit span:last-child{
	float: right;
}
.magic_line{
	float: left;
	background:linear-gradient(270deg,rgba(0,162,247,1) 0%,rgba(255,255,255,1) 100%) !important;
}
.tit h3{
	height: 40px;
	font-size: 2rem;
	font-family: PingFangSC-Semibold,PingFang SC;
	font-weight: 600;
	color: rgba(22,57,122,1);
	line-height: 40px;
	display: inline-flex;
	margin: 0 4px !important;
}
.dr .magic_line {
    float: left;
    background: linear-gradient(170deg,rgba(0,162,247,1) 0%,rgba(255,255,255,1) 100%) !important;
}
.circle{
	border-radius: 50px;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-top: -11%;
	float: left;
}
.dr .circle {
    float: left !important;
}
.public_tit{
	flex: 1;
	width: 100%;
	height: 47px;
	text-align: center;
	overflow: hidden;
}

footer{
	width:100%;
	height:620px;
	background:#444;
	position: relative;
}
.footer_logo{
	text-align: center;
}
.footer_logo img{
	width: 212px;
	height: 100%;
}
.footer_line{
	border-bottom: 3px solid #DC4236;
}
.footer_tel{
	width: 100%;
	text-align: center;
	color: #fff;
}

.footer_bottom_tel{
	font-size:2rem;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(255,255,255,1);
	line-height:32px;
	padding-top: 15px !important;
	width: 50%;
	margin: 0 auto !important;
}

.footer_tel img{
	height: 32px;
	width: 32px;
	margin-right: 6%;
}

.authorized_phone{
	width: 100%;
	height: 34px;
	font-size: 1.8rem;
	font-family: PingFangSC-Regular,PingFang SC;
	font-weight: 400;
	color: rgba(255,255,255,1);
	line-height: 34px;
	text-align: center;
	margin-top: 15px !important;
	display: inline-block;
}

/* 填写表单 */
.bottom_form{
	width: 90%;
	background: #fff;
	margin: 0 auto;
	box-shadow:0px 1px 11px 0px rgba(0,0,0,0.08);
	border-radius:10px;
	position: relative;
	top: -75px;
	text-align: center;
	color: #666;
}
.c_form{
	width: 80%;
	height: 60px;
	line-height: 60px;
	background: #F4F5F6;
	border-radius: 17px;
	margin: 0 auto 10px auto !important;
	font-size: 1.4rem;
}
.c_form label{
	float: left;
	width: 20%;
}
.c_form input{
	float: right;
	width: 80%;
	box-sizing: border-box;
	height: 60px;
	line-height: 60px;
	border: none;
	background: #F4F5F6;
	font-size: 1.4rem;
	color: #666;
}
.c_form input:focus{
	outline: none;
	background: #F4F5F6;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px #F4F5F6 inset
}
.form_tit{
	font-size: 2.5rem;
	padding: 20px 0 !important;
}
.form_btn{
	text-align: center;
	width: 100%;
	padding:15px 0 20px 0!important;
}
.f_btn{
	width: 50%;
	height: 60px;
	background: rgba(220,66,54,1);
	box-shadow: 0px 2px 7px 0px rgba(220,66,54,0.29);
	border-radius: 23px;
	font-weight: 500;
	font-size: 1.6rem;
	border: 1px solid #DC4236;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	cursor: pointer;
}
.f_btn:hover,.s_btn:hover{
	color: #fff;
}

.copyright{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	background: #333;
	color: #666;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	font-size: 1.2rem;
}
.swiper-container{
	margin: 0 !important;
}
.home_icon{
	position: relative;
	cursor: pointer;
	text-align: right;
}
.home_nav {
	position: absolute;
	width: 260px;
	background: #fff;
	top: 89px;
	display: none;
	z-index: 9;
	right: 0;
}
.home_nav a{
	width: 100%;
	float: left;
	text-align: center;
	height: 82px;
	line-height: 82px;
	color: #333;
	font-size: 1.4rem;
	font-weight: 400;
	border-bottom: 1px solid #F0F0F0;
	text-decoration: none;
}
.nav_active{
	color: #DC4236 !important;
}
.home_nav a:hover{
	text-decoration: none;
}
.home_nav a:first-child{
	border-left: 5px solid #DC4236;
}
.home_nav a:last-child{
	border-left: 5px solid #7D4698;
}
.sub{
	border-left: 5px solid #F8B42D;
}
.om{
	border-left: 5px solid #00A0E9;
}
.le{
	border-left: 5px solid #4FB459;
}